@CHARSET "ISO-8859-1";

div.test {
	float: left;
}

div.test2 {
	float: right;
}

p{
	color: black;
}

a:link{
	color:#32829D;
	text-decoration:none;
	font-size: 12px;
	font-style: italic;
}

a:visited{
	color:#32829D;
	text-decoration:none;
	font-size: 12px;
	font-style: italic;
}

a:hover{
	color: maroon;
}

h1 {
	text-align: center;
	color: white;
}

body {
	background: white;
	color: #32829D;
}

input[type="text"] {
	border: 2px solid #32829D;
	background: #ffffff;
	color: #32829D;
}

input[type="password"] {
	border: 2px solid #32829D;
	background: #ffffff;
	color: #32829D;
}

input[type="submit"] {
	border: none;
	/*background: transparent;*/
	color: #32829D;
}

input[type="submit"]:hover {
	border: thin #999999 outset;
	filter: alpha(opacity =       50);
	-moz-opacity: .5;
	opacity: .5;
	background: #FFFFFF;
	color: #000000;
}

input[type="submit"]:focus {
	border: thin #000000 solid;
	background: #FFFFFF;
	color: #000000;
}

input[type="submit"]:focus:hover {
	border: thin #000000 solid;
	filter: alpha(opacity =       100);
	-moz-opacity: 1;
	opacity: 1;
	background: #FFFFFF;
	color: #000000;
}



/**********************************************************/
input[type="button"] {
	border: none;
	/*background: transparent;*/
	color: #32829D;
}

input[type="button"]:hover {
	border: thin #999999 outset;
	filter: alpha(opacity =       50);
	-moz-opacity: .5;
	opacity: .5;
	background: #FFFFFF;
	color: #000000;
}

input[type="button"]:focus {
	border: thin #000000 solid;
	background: #FFFFFF;
	color: #000000;
}

input[type="button"]:focus:hover {
	border: thin #000000 solid;
	filter: alpha(opacity =       100);
	-moz-opacity: 1;
	opacity: 1;
	background: #FFFFFF;
	color: #000000;
}

div.LoginForm {
	position: absolute;
	width: 50%;
	height: 30%;
	left: 42%;
	top: 50%;
}

#text {
	font-family: arial;
	color: #32829D;
	font-size: 14px;
}

#lightblub { /*background-repeat:no-repeat;*/
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	/* Preserve aspect ratio */
	/*min-width: 1024px;
	min-height: 100%;
	overflow: hidden;*/
	width: 100%;
	height: auto;
	z-index: -1;
}

div.logo {
	background-image: url(../images/b2w.png);
	height: 198px;
	position: relative;
}

div.logo div.left {
	background-image: url(../images/GreyStar3.png);
	background-repeat: no-repeat;
	margin-top: 35px;
	width: 300px;
	height: 120px; 
	position : absolute;
	left: 0;
	top: 0;
}

div.logo div.right {
	background-image: url(../images/lightBulb2edit.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 175px;
	height: 198px;
	right: 0;
	top: 0;
}

#buttons{
	text-align: right;
}

#SEMenu li{
	display: inline;
	padding-right:50px;
	padding-left:50px;
}

#SEDiv{
	text-align: center;
}